---
layout: blog_default
---


<aside class="post-meta">
  <a href="http://twitter.com/{{page.author_twitter}}">{{page.author}}</a>
  <time datetime="{{page.date}}" pubdate="true">{{ page.date | date: "%B %d, %Y" }}</time>
</aside>

<aside class="user-engaging-component">
  <section class="social-sharing">
    <div class="g-plusone" data-size="medium" data-annotation="none"></div>
  </section>

  <section class="related-post">
    <nav>
    {% for item in site.categories.events limit:40 offset:0 %}
      <a class="article-link" href="{{site.baseurl}}{{item.url}}" title="{{item.title}}">{{item.title}}</a>
    {% endfor %}
    </nav>
  </section>  
</aside>

<article class="post-content main-content">
  <header>
    <h1>{{page.title}}</h1>
    <h2>{{page.abstract}}</h2>
  </header> 
  {{ content }}
</article>