---
layout: blog_default
---

<section itemscope itemtype="http://schema.org/Article">
  <meta itemprop="image" content="{{page.image}}"/>
  <meta itemprop="description" content="{{page.abstract}}"/>
  <aside class="post-meta">
    <a href="http://twitter.com/{{page.author_twitter}}" itemprop="author">{{page.author}}</a>
    <time datetime="{{page.date}}" pubdate="true" itemprop="datePublished" content="{{page.date}}">
      {{ page.date | date: "%B %d, %Y" }}
    </time>
  </aside>

  <aside class="user-engaging-component">
    <section class="social-sharing">
      <div class="g-plusone" data-size="medium" data-annotation="none"></div>
    </section>

    <section class="related-post">
      <nav>
      {% for item in site.categories.events limit:40 offset:0 %}
        <a class="article-link" href="{{site.baseurl}}{{item.url}}" title="{{item.title}}">{{item.title}}</a>
      {% endfor %}
      </nav>
    </section>  
  </aside>

  <article class="post-content main-content">
    <header class="post-header">
      <h1 itemprop="name">{{page.title}}</h1>
    </header>
    <section class="post-body" itemprop="articleBody"> 
      {{ content }}
    </section>
    <section class="post-comments">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = '{{site.disqus_name}}'; // required: replace example with your forum shortname
          var disqus_identifier = '{{ page.url }}';
          var disqus_url = 'http://erjjones.github.com{{ page.url }}';
          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        
    </section>  
  </article>

</section>