---
---
<!DOCTYPE html>
<html data-page-type="{{page.type}}">
<head>
  <meta charset='UTF-8'/>
  <title>City Break Hostel Blog</title>
  <link rel='shortcut icon' href='{{site.baseurl}}/images/favicon.ico' type='image/x-icon' />
  <link rel='stylesheet' href='/assets/index.css'>
  <!-- font -->
  <link href='http://fonts.googleapis.com/css?family=Oswald&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Copse' rel='stylesheet' type='text/css'>
  <!-- font end -->
  <script type="text/javascript" async="" src="https://apis.google.com/js/plusone.js"></script>
  <script src="/assets/jquery-1.8.0.js"></script>
  <script src="/all.js"></script>
</head>
<body>
  <!-- <nav class="pager-nav"> 
    {% if page.previous.url %} 
      <a rel="prev" href="{{page.previous.url}}" title="Previous Post: 
{{page.previous.title}}">
        {% include left-arrow.svg %}
      </a> 
    {% endif %} 

    {% if page.next.url %} 
      <a rel="next" href="{{page.next.url}}" title="Next Post: 
{{page.next.title}}">
        {% include right-arrow.svg %}
      </a> 
    {% endif %} 
  </nav>  -->

  <div class="page">

    <nav class="menu-nav">
      <ul class="nav-list">
        <li id="home-link">
          <a class="home-link" href="{{site.baseurl}}/">City Break</a>
        </li>
        <li id="search">
          <input type="text" alt="Input for site searching">
          <input type="submit" value="search">
          <!-- <div id="search">
            <a href="#search">
               <i class="icon search waiting">{% include search-icon.svg %}</i><i class="icon close searching"></i> -->
            <!-- </a>
            <div class="searching">
              <i class="icon search">{% include search-icon.svg %}</i>
              <input type="text"></div>
          </div> -->
        </li>
        <div class="border"></div>
        <li class="nav-item">
          <a href="#" class="nav-link" id="all-nav-link">All posts</a>
          <div class="arrow">
            <div class="arrow-front"></div>
            <div class="arrow-back"></div>
          </div>
        </li>
        <li class="nav-item">
          <a href="{{site.baseurl}}/blog/stories" class="nav-link" id="stories-nav-link">Stories</a>
          <div class="arrow">
            <div class="arrow-front"></div>
            <div class="arrow-back"></div>
          </div>
        </li>  
        <!-- <li class="nav-item">
          <a href="{{site.baseurl}}/tips" class="nav-link" id="tips-nav-link"></a>
        </li>      -->             
        <li class="nav-item">
          <a href="{{site.baseurl}}/blog/events" class="nav-link" id="events-nav-link">Events</a>
          <div class="arrow">
            <div class="arrow-front"></div>
            <div class="arrow-back"></div>
          </div>
        </li>
        <li class="nav-item">
          <a href="{{site.baseurl}}/blog/cuisine" class="nav-link" id="cuisine-nav-link">Cuisine</a>
          <div class="arrow">
            <div class="arrow-front"></div>
            <div class="arrow-back"></div>
          </div>
        </li>
      </ul>
      <div class="menu-bottom"></div>       
    </nav>

    <div class="article-page">
      {{content}}
    </div>
    
  </div>

  <div id="search-results">
    <h1>Search</h1>
    <div class="empty active">No results found.</div>
    <div class="about"><span class="label">About</span><ul></ul></div>
    <div class="blog"><span class="label">Blog</span><ul></ul></div>
  </div>

  <footer class="main-footer">
    <nav class="footer-nav">
      <ul class="nav-list">
        <li class="nav-item"><a href="{{site.baseurl}}">Home</a></li>
        <li class="nav-item"><a href="{{site.baseurl}}/blog">Blog</a></li>
        <li class="nav-item"><a href="{{site.baseurl}}/tips">Travel tips</a></li>
      </ul>
      <p class="copyright">2011-2012 City Break Hostel.</p>
      <small>Except where otherwise noted, content on
        <span href="http://creativecommons.org" property="cc:attributionName" rel="cc:attributionURL">this site</span> 
        is licensed under a 
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/" class="subfoot">Creative Commons Attribution 3.0 License</a>.
      </small>
    </nav>
  </footer>

</body>
</html>
